[mysqld]
max_allowed_packet  = 32M
query_cache_limit   = 1M
query_cache_size        = 16M
sql_mode = "ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
character_set_server=utf8
collation_server=utf8_general_ci
innodb_use_native_aio=0

[client]
default-character-set = utf8

[mysql]
default-character-set = utf8
